<h1>The TRN Board</h1>

<div class="leaderboard">
  <h2>LEADERS</h2>
  <table>
    <% @teams.each do |team| %>
      <tr>
        <td class="name-column"><%= team.name %></td>
        <td class="strokes-column"><%= team.strokes %></td>
      </tr>
    <% end %>
  </table>
</div>
